@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-4xl;
        @apply font-bold;
    }
    h2 {
        @apply text-3xl;
        @apply font-bold;
    }
    h3 {
        @apply text-2xl;
        @apply font-bold;
    }
    h4 {
        @apply text-xl;
        @apply font-semibold;
    }
    h5 {
        @apply text-lg;
        @apply font-semibold;
    }
    h6 {
        @apply text-sm;
        @apply font-semibold;
    }
}

body {
    cursor: none;
  }

.clip {
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.prose pre {
    @apply bg-gray-50 border border-gray-200 dark:border-gray-700 dark:bg-gray-900;
}
  
.prose code {
    @apply text-gray-800 dark:text-gray-200 px-1 py-0.5 border border-gray-100 dark:border-gray-800 rounded-md bg-gray-100 dark:bg-gray-900;
}
  
.prose img {
    @apply m-0;
}

.prose a {
    @apply text-blue-500 dark:text-blue-400 underline;
}

.prose a:hover {
    @apply text-blue-600 dark:text-blue-500;
}

.prose a:active {
    @apply text-blue-700 dark:text-blue-600;
}

.prose a:visited {
    @apply text-purple-500 dark:text-purple-400 underline;
}

.prose a:visited:hover {
    @apply text-purple-600 dark:text-purple-500;
}

.prose a:visited:active {
    @apply text-purple-700 dark:text-purple-600;
}

.prose a:visited:visited {
    @apply text-purple-500 dark:text-purple-400 underline;
}

.prose a:visited:visited:hover {
    @apply text-purple-600 dark:text-purple-500;
}

.prose a:visited:visited:active {
    @apply text-purple-700 dark:text-purple-600;
}

.interactive {
    pointer-events: auto;
    z-index: 20;
    position: relative;
  }

button {
  display: block !important; /* Ensure the button is displayed */
  visibility: visible !important; /* Ensure it's not hidden */
}

.notification {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}