---
interface Props {
  name: string;
  icon: string;
  website: string;
  bgColor?: string; // Added bgColor prop
}
const { name, icon, website, bgColor = "bg-gray-500" } = Astro.props;

import { Icon } from 'astro-icon';
---

<a href={website} target="_blank" rel="noopener noreferrer">
  <div class={`flex-grow h-16 focus:outline-none transition duration-300 ease-in-out transform hover:scale-105 p-3 rounded-md border border-gray-800 shadow flex items-center justify-between cursor-pointer ${bgColor}`}>
    <div class="my-auto">
      <Icon name={icon} class="fill-white h-[1.8em] w-[1.8em] inline" /> 
      <span class="font-medium ml-1">{name}</span>
    </div>
  </div>
</a>