---
interface Props {
    name: string;
    href: string;
    icon: string;
}
const { name, href, icon } = Astro.props;
---

<a
    aria-label={name}
    class="cursor-pointer fill-current focus:outline-none transition duration-300 ease-in-out hover:text-indigo-900 dark:hover:text-indigo-200"
    href={href}
    rel="noopener noreferrer"
    target="_blank"
>
    <img
        src={`/src/icons/${icon}.svg`}
        alt={`${name} icon`}
        class="h-[1.5em] w-[1.5em] sm:h-[1.8em] sm:w-[1.8em] inline"
    />
</a>