---
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Pixeljellyfish's personal website" />
    <meta name="author" content="Pixeljellyfish" />
    <meta name="keywords" content="Pixeljellyfish, developer, portfolio, projects, open-source" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="apple-mobile-web-app-title" content="pixeljellyfish.dev" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pixeljellyfish.dev</title>
  </head>
  <body>
    <main class="bg-white/90 dark:bg-gray-900/90 min-h-screen p-4">
      <slot />
    </main>
  </body>
</html>