---
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pixeljellyfish.dev</title>
  </head>
  <body>
    <main class="bg-white/90 dark:bg-gray-900/90 min-h-screen p-4">
      <slot />
    </main>
  </body>
</html>